{
   "swagger":"2.0",
   "info":{
      "title":"Auth API",
      "description":"Test description",
      "termsOfService":"https://www.google.com/policies/terms/",
      "contact":{
         "email":"contact@snippets.local"
      },
      "license":{
         "name":"BSD License"
      },
      "version":"v1"
   },
   "host":"arch.homework",
   "schemes":[
      "http"
   ],
   "basePath":"/api",
   "consumes":[
      "application/json"
   ],
   "produces":[
      "application/json"
   ],
   "securityDefinitions":{
      "Basic":{
         "type":"basic"
      }
   },
   "security":[
      {
         "Basic":[

         ]
      }
   ],
   "paths":{
      "/auth/users/":{
         "get":{
            "operationId":"auth_users_list",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/User"
                     }
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "post":{
            "operationId":"auth_users_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/UserCreate"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/UserCreate"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/activation/":{
         "post":{
            "operationId":"auth_users_activation",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/Activation"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/Activation"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/me/":{
         "get":{
            "operationId":"auth_users_me_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/User"
                     }
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "put":{
            "operationId":"auth_users_me_update",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/User"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/User"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "patch":{
            "operationId":"auth_users_me_partial_update",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/User"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/User"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "delete":{
            "operationId":"auth_users_me_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/resend_activation/":{
         "post":{
            "operationId":"auth_users_resend_activation",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SendEmailReset"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SendEmailReset"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/reset_password/":{
         "post":{
            "operationId":"auth_users_reset_password",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SendEmailReset"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SendEmailReset"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/reset_password_confirm/":{
         "post":{
            "operationId":"auth_users_reset_password_confirm",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/PasswordResetConfirm"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/PasswordResetConfirm"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/reset_username/":{
         "post":{
            "operationId":"auth_users_reset_username",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SendEmailReset"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SendEmailReset"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/reset_username_confirm/":{
         "post":{
            "operationId":"auth_users_reset_username_confirm",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/UsernameResetConfirm"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/UsernameResetConfirm"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/set_password/":{
         "post":{
            "operationId":"auth_users_set_password",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SetPassword"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SetPassword"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/set_username/":{
         "post":{
            "operationId":"auth_users_set_username",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/SetUsername"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/SetUsername"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[

         ]
      },
      "/auth/users/{id}/":{
         "get":{
            "operationId":"auth_users_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/User"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "put":{
            "operationId":"auth_users_update",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/User"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/User"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "patch":{
            "operationId":"auth_users_partial_update",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/User"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/User"
                  }
               }
            },
            "tags":[
               "auth"
            ]
         },
         "delete":{
            "operationId":"auth_users_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "auth"
            ]
         },
         "parameters":[
            {
               "name":"id",
               "in":"path",
               "description":"A unique integer value identifying this user.",
               "required":true,
               "type":"integer"
            }
         ]
      },
      "/token/":{
         "post":{
            "operationId":"token_create",
            "description":"Takes a set of user credentials and returns an access and refresh JSON web\ntoken pair to prove the authentication of those credentials.",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/TokenObtainPair"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/TokenObtainPair"
                  }
               }
            },
            "tags":[
               "token"
            ]
         },
         "parameters":[

         ]
      },
      "/token/refresh/":{
         "post":{
            "operationId":"token_refresh_create",
            "description":"Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/TokenRefresh"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/TokenRefresh"
                  }
               }
            },
            "tags":[
               "token"
            ]
         },
         "parameters":[

         ]
      },
      "/token/verify/":{
         "post":{
            "operationId":"token_verify_create",
            "description":"Takes a token and indicates if it is valid.  This view provides no\ninformation about a token's fitness for a particular use.",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/TokenVerify"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/TokenVerify"
                  }
               }
            },
            "tags":[
               "token"
            ]
         },
         "parameters":[

         ]
      }
   },
   "definitions":{
      "User":{
         "type":"object",
         "properties":{
            "email":{
               "title":"Email address",
               "type":"string",
               "format":"email",
               "maxLength":254
            },
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "username":{
               "title":"Username",
               "description":"Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.",
               "type":"string",
               "readOnly":true,
               "minLength":1
            }
         }
      },
      "UserCreate":{
         "required":[
            "username",
            "password"
         ],
         "type":"object",
         "properties":{
            "email":{
               "title":"Email address",
               "type":"string",
               "format":"email",
               "maxLength":254
            },
            "username":{
               "title":"Username",
               "description":"Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.",
               "type":"string",
               "pattern":"^[\\w.@+-]+$",
               "maxLength":150,
               "minLength":1
            },
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "password":{
               "title":"Password",
               "type":"string",
               "minLength":1
            }
         }
      },
      "Activation":{
         "required":[
            "uid",
            "token"
         ],
         "type":"object",
         "properties":{
            "uid":{
               "title":"Uid",
               "type":"string",
               "minLength":1
            },
            "token":{
               "title":"Token",
               "type":"string",
               "minLength":1
            }
         }
      },
      "SendEmailReset":{
         "required":[
            "email"
         ],
         "type":"object",
         "properties":{
            "email":{
               "title":"Email",
               "type":"string",
               "format":"email",
               "minLength":1
            }
         }
      },
      "PasswordResetConfirm":{
         "required":[
            "uid",
            "token",
            "new_password"
         ],
         "type":"object",
         "properties":{
            "uid":{
               "title":"Uid",
               "type":"string",
               "minLength":1
            },
            "token":{
               "title":"Token",
               "type":"string",
               "minLength":1
            },
            "new_password":{
               "title":"New password",
               "type":"string",
               "minLength":1
            }
         }
      },
      "UsernameResetConfirm":{
         "required":[
            "new_username"
         ],
         "type":"object",
         "properties":{
            "new_username":{
               "title":"Username",
               "description":"Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.",
               "type":"string",
               "pattern":"^[\\w.@+-]+$",
               "maxLength":150,
               "minLength":1
            }
         }
      },
      "SetPassword":{
         "required":[
            "new_password",
            "current_password"
         ],
         "type":"object",
         "properties":{
            "new_password":{
               "title":"New password",
               "type":"string",
               "minLength":1
            },
            "current_password":{
               "title":"Current password",
               "type":"string",
               "minLength":1
            }
         }
      },
      "SetUsername":{
         "required":[
            "current_password",
            "new_username"
         ],
         "type":"object",
         "properties":{
            "current_password":{
               "title":"Current password",
               "type":"string",
               "minLength":1
            },
            "new_username":{
               "title":"Username",
               "description":"Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.",
               "type":"string",
               "pattern":"^[\\w.@+-]+$",
               "maxLength":150,
               "minLength":1
            }
         }
      },
      "TokenObtainPair":{
         "required":[
            "username",
            "password"
         ],
         "type":"object",
         "properties":{
            "username":{
               "title":"Username",
               "type":"string",
               "minLength":1
            },
            "password":{
               "title":"Password",
               "type":"string",
               "minLength":1
            }
         }
      },
      "TokenRefresh":{
         "required":[
            "refresh"
         ],
         "type":"object",
         "properties":{
            "refresh":{
               "title":"Refresh",
               "type":"string",
               "minLength":1
            }
         }
      },
      "TokenVerify":{
         "required":[
            "token"
         ],
         "type":"object",
         "properties":{
            "token":{
               "title":"Token",
               "type":"string",
               "minLength":1
            }
         }
      }
   }
}