{
   "swagger":"2.0",
   "info":{
      "title":"Billing API",
      "description":"Test description",
      "termsOfService":"https://www.google.com/policies/terms/",
      "contact":{
         "email":"contact@snippets.local"
      },
      "license":{
         "name":"BSD License"
      },
      "version":"v1"
   },
   "host":"arch.homework",
   "schemes":[
      "http"
   ],
   "basePath":"/api",
   "consumes":[
      "application/json"
   ],
   "produces":[
      "application/json"
   ],
   "securityDefinitions":{
      "Basic":{
         "type":"basic"
      }
   },
   "security":[
      {
         "Basic":[

         ]
      }
   ],
   "paths":{
      "/accounts/{username}":{
         "get":{
            "operationId":"accounts_read",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/UserBilling"
                  }
               }
            },
            "tags":[
               "accounts"
            ]
         },
         "put":{
            "operationId":"accounts_update",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/UserBilling"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/UserBilling"
                  }
               }
            },
            "tags":[
               "accounts"
            ]
         },
         "patch":{
            "operationId":"accounts_partial_update",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/UserBilling"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/UserBilling"
                  }
               }
            },
            "tags":[
               "accounts"
            ]
         },
         "delete":{
            "operationId":"accounts_delete",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "204":{
                  "description":""
               }
            },
            "tags":[
               "accounts"
            ]
         },
         "parameters":[
            {
               "name":"username",
               "in":"path",
               "description":"Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.",
               "required":true,
               "type":"string"
            }
         ]
      },
      "/profiles/":{
         "post":{
            "operationId":"profiles_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/UserBilling"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/UserBilling"
                  }
               }
            },
            "tags":[
               "profiles"
            ]
         },
         "parameters":[

         ]
      }
   },
   "definitions":{
      "UserBilling":{
         "required":[
            "username",
            "email"
         ],
         "type":"object",
         "properties":{
            "username":{
               "title":"Username",
               "description":"Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.",
               "type":"string",
               "maxLength":150,
               "minLength":1
            },
            "email":{
               "title":"Email",
               "type":"string",
               "format":"email",
               "maxLength":254,
               "minLength":1
            },
            "wallet":{
               "title":"Wallet",
               "description":"User wallet",
               "type":"number",
               "minimum":0.0,
               "x-nullable":true
            }
         }
      }
   }
}