{
   "swagger":"2.0",
   "info":{
      "title":"Notify API",
      "description":"Test description",
      "termsOfService":"https://www.google.com/policies/terms/",
      "contact":{
         "email":"contact@snippets.local"
      },
      "license":{
         "name":"BSD License"
      },
      "version":"v1"
   },
   "host":"arch.homework",
   "schemes":[
      "http"
   ],
   "basePath":"/api",
   "consumes":[
      "application/json"
   ],
   "produces":[
      "application/json"
   ],
   "securityDefinitions":{
      "Basic":{
         "type":"basic"
      }
   },
   "security":[
      {
         "Basic":[

         ]
      }
   ],
   "paths":{
      "/notifications/":{
         "get":{
            "operationId":"notifications_list",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Notification"
                     }
                  }
               }
            },
            "tags":[
               "notifications"
            ]
         },
         "post":{
            "operationId":"notifications_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/Notification"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/Notification"
                  }
               }
            },
            "tags":[
               "notifications"
            ]
         },
         "parameters":[

         ]
      }
   },
   "definitions":{
      "Notification":{
         "required":[
            "email",
            "message",
            "success"
         ],
         "type":"object",
         "properties":{
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "email":{
               "title":"Email",
               "type":"string",
               "format":"email",
               "maxLength":254,
               "minLength":1
            },
            "message":{
               "title":"Message",
               "type":"string",
               "minLength":1
            },
            "success":{
               "title":"Success",
               "type":"boolean"
            }
         }
      }
   }
}