{
   "swagger":"2.0",
   "info":{
      "title":"Order API",
      "description":"Test description",
      "termsOfService":"https://www.google.com/policies/terms/",
      "contact":{
         "email":"contact@snippets.local"
      },
      "license":{
         "name":"BSD License"
      },
      "version":"v1"
   },
   "host":"arch.homework",
   "schemes":[
      "http"
   ],
   "basePath":"/api",
   "consumes":[
      "application/json"
   ],
   "produces":[
      "application/json"
   ],
   "securityDefinitions":{
      "Basic":{
         "type":"basic"
      }
   },
   "security":[
      {
         "Basic":[

         ]
      }
   ],
   "paths":{
      "/orders/":{
         "get":{
            "operationId":"orders_list",
            "description":"",
            "parameters":[

            ],
            "responses":{
               "200":{
                  "description":"",
                  "schema":{
                     "type":"array",
                     "items":{
                        "$ref":"#/definitions/Order"
                     }
                  }
               }
            },
            "tags":[
               "orders"
            ]
         },
         "post":{
            "operationId":"orders_create",
            "description":"",
            "parameters":[
               {
                  "name":"data",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/Order"
                  }
               }
            ],
            "responses":{
               "201":{
                  "description":"",
                  "schema":{
                     "$ref":"#/definitions/Order"
                  }
               }
            },
            "tags":[
               "orders"
            ]
         },
         "parameters":[

         ]
      }
   },
   "definitions":{
      "Order":{
         "required":[
            "username",
            "amount",
            "details"
         ],
         "type":"object",
         "properties":{
            "id":{
               "title":"ID",
               "type":"integer",
               "readOnly":true
            },
            "username":{
               "title":"Username",
               "type":"string",
               "maxLength":150,
               "minLength":1
            },
            "amount":{
               "title":"Amount",
               "type":"number"
            },
            "details":{
               "title":"Details",
               "type":"object"
            }
         }
      }
   }
}